<mat-table [dataSource]="dataSource" #mytable>

    <!--  Columna id -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let location">
            {{location.id_localizacion}} </mat-cell>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let location">
            {{location.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let location" class="actions-col">
            <button matTooltip="Editar esta localización" color="primary" mat-button>
                <mat-icon>create</mat-icon>
            </button>
            <button mat-button matTooltip="Eliminar localización" class="delete-button" >
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator class="mat-paginator" length={{dataLength}} [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="onPageChanged($event)"></mat-paginator>