.input-container {
    margin-left: 2%;
    font-size: 14px;
}

.button-container {
    text-align: center;
}

.submit-button {
    margin: 20px;
    width: 90%;
}

.map-container {
    margin-left: 2%;
    margin-right: 2%;
}

.map {
    height: 400px;
    width: 100%;
}

.radiusInput {
    padding: 20px;
}
