<mat-toolbar color="primary">
  <button mat-flat-button class="mainButton" color="primary" (click)="onHomeClick()">
    Catálogo Digital de Servicios
  </button>
  <span class="spacer"></span>
  <ng-container *ngIf="(isLoggedIn()) && (currentUser != null)">
    <div class="name">
      {{ currentUser.nombre }}
    </div>
  </ng-container>
</mat-toolbar>

<div class="row">
  <div class="column">
    <h3 class="services">Servicios en {{  locationName  }}</h3>

    <div class="services" *ngFor="let service of services, let i = index">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title> {{ service.nombre }} </mat-card-title>
          <div fxFlex></div>
          <button mat-flat-button class="card-right" color="primary" (click)="goService(service)">Ver</button>
        </mat-card-title-group>
        <mat-card-content>
          Cédula Jurídica: {{ service.cedula_j }}
        </mat-card-content>
        <mat-chip-list  >
          <mat-chip *ngFor="let tag of service.etiquetas" color="primary" selected>
            {{ tag.nombre }}
          </mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>

  <div class="column">
    <agm-map class="map" [latitude]="maplat" [longitude]="maplng">
      <div *ngFor="let service of services">
        <agm-marker [latitude]="service.latitud" [longitude]="service.longitud"></agm-marker>
      </div>

      <agm-circle [latitude]="markerlat" [longitude]="markerlng" [radius]="radius" fillColor="steelblue"
        fillOpacity="0.5">
      </agm-circle>
    </agm-map>
  </div>
</div>