<div class="flex-container">
    <span class="spacer"></span>
    <button class="btn-request" mat-raised-button color="primary" (click)="openDialog(null, 'Nueva Etiqueta', 0)">
        Nueva Etiqueta
    </button>
</div>

<mat-table [dataSource]="dataSource" #mytable>

    <!--  Columna id -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.id_etiqueta}} </mat-cell>
    </ng-container>

    <!-- Columna etiqueta -->
    <ng-container matColumnDef="tag">
        <mat-header-cell *matHeaderCellDef> Etiqueta </mat-header-cell>
        <mat-cell *matCellDef="let row">
            {{row.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row, let i = index" class="actions-col">
            <button mat-button matTooltip="Aceptar esta solicitud" color="primary"
                (click)="openDialog(row, 'Editar Etiqueta', i)">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-button matTooltip="Rechazar esta solicitud" class="delete-button"
                (click)="openDialog(row, 'Eliminar Etiqueta', i)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator class="mat-paginator" length={{dataLength}} [pageSizeOptions]="[5, 10, 15, 20]"
    (page)="onPageChanged($event)"></mat-paginator>