<mat-card>
    <mat-card-title>Crear mapa</mat-card-title>

    <mat-card-content>
        <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input type="text" matInput id="name" formControlName="name" placeholder="Nombre">
            </mat-form-field>
            <mat-form-field class="radiusInput">
                <mat-label>Radio</mat-label>
                <input matInput (keyup.enter)="onKeyup()" type="number" id="radius" formControlName="radius" placeholder="Radio">
            </mat-form-field>
            <mat-slide-toggle formControlName="visible">Visible</mat-slide-toggle>
            <div class="map-container">
                <agm-map class="map" [latitude]="maplat" [longitude]="maplng" (mapClick)="onMapClicked($event)">
                    <agm-marker [latitude]="markerlat" [longitude]="markerlng" *ngIf="onChosen"></agm-marker>
                
                    <agm-circle [latitude]="markerlat" [longitude]="markerlng" *ngIf="onChosen" [radius]="circle"
                        (circleClick)="onMapClicked($event)" fillColor="steelblue" fillOpacity="0.5">
                    </agm-circle>
                </agm-map>
            </div>

            <div class="button-container">
                <button mat-raised-button color="primary" class="submit-button" type="submit">Crear localización</button>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>



