mat-card-title {
    padding: 10px;
}

mat-card {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

mat-card-content {
    justify-content: center;
}

.map-container {
    margin-left: 2%;
    margin-right: 2%;
}

.map {
    height: 500px;
    width: 100%;
    
}

.radiusInput {
    padding: 20px;
}