<mat-card>
    <mat-card-title>Mapa</mat-card-title>

    <mat-card-content>
        <mat-form-field class="radiusInput">
            <mat-label>Radio</mat-label>
            <input matInput (keyup.enter)="onEnter()" type="number" [(ngModel)]="radius">
        </mat-form-field>

        <div class="map-container">
            <agm-map class="map" [latitude]="maplat" [longitude]="maplng" (mapClick)="onMapClicked($event)">
                <agm-marker [latitude]="markerlat" [longitude]="markerlng" *ngIf="onChosen">
                </agm-marker>
            
                <agm-circle [latitude]="markerlat" [longitude]="markerlng" *ngIf="onChosen" [radius]="circle"
                    (circleClick)="onMapClicked($event)" fillColor="steelblue" fillOpacity="0.5">
                </agm-circle>
            </agm-map>
        </div>
        
    </mat-card-content>
</mat-card>



