<mat-toolbar color="primary">
    <span>Catálogo Digital de Servicios</span>
    <span class="spacer"></span>
    <a routerLink="/login">
        <button mat-raised-button class="button" color="primary" style="margin-right: 6px;">
            <mat-icon>login</mat-icon>
            Login
        </button> 
    </a>
    <a routerLink="/signup">
        <button mat-raised-button class="button" color="primary">
            <mat-icon>person</mat-icon>
            Registrarse
        </button> 
    </a>
</mat-toolbar>
