<mat-toolbar class="toolbar" color="primary">
    <button mat-flat-button class="mainButton" color="primary" (click)="onHomeClick()">
      Catálogo Digital de Servicios
    </button>
    <span class="spacer"></span>
    <a routerLink="/login">
      <ng-container *ngIf="!isLoggedIn()">
        <button mat-flat-button class="button" color="primary">
          <mat-icon>person</mat-icon>
          Login
        </button>
      </ng-container>
    </a>
    <ng-container *ngIf="!isLoggedIn()">
      <a routerLink="/signup">
        <button mat-flat-button class="button" color="primary">
          <mat-icon>person_add</mat-icon>
          Registro
        </button>
      </a>
    </ng-container>
    <ng-container *ngIf="(isLoggedIn()) && (currentUser != null) && (getUserType() == 1)">
      <a routerLink="/admin/add_regions">
        <button mat-flat-button class="button" color="primary">
          <mat-icon>account_circle</mat-icon>
          {{ currentUser.nombre }}
        </button>
      </a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <button mat-flat-button class="button" color="primary" (click)="logout()">
        <mat-icon>input</mat-icon>
        Salir
      </button>
    </ng-container>
</mat-toolbar>

<div class="container">
  <app-regions></app-regions>
</div>
