.mainButton {
  font-size: 20px;
}

.title {
  line-height: 36px;
}

.button {
  margin-left: 15px;
    padding: 0 5px;
    font-size: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
