<h1 mat-dialog-title>Administrar Etiquetas</h1>
<p class="subtitle">Agrega o elimna etiquetas de tu servicio</p>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div>

    <mat-form-field class="full-field">
      <mat-label>Etiquetas</mat-label>
      <mat-select [(ngModel)]="selectedTag">
        <mat-option *ngFor="let tag of tags" [value]="tag.id_etiqueta">{{ tag.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button class="btn-add" (click)="addTag()">
      <mat-icon>
        add_circle
      </mat-icon>
    </button>

    <div class="flex-centered">
      <div class="tag" *ngFor="let tag of serviceTags">
        {{tag.nombre}}
        <button mat-icon-button class="btn-white" (click)="removeTag(tag.id_etiqueta)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>

<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
</div>
