h1 {
  margin-bottom: 0;
}

.subtitle {
  color: gray;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 12px 0;
}

.form-field {
  width: 100%
}

.action-btns {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.map {
  height: 300px;
  width: 100%;
}

.map-container {
  margin: 15px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.form-field {
  width: 40%;
  min-width: 40%;
  margin: 15px 15px 0 15px;
}

.form-desc {
  width: 90%;
  margin-bottom: 15px;
}
