.delete-button {
    color:#d9534f;
}

.actions-col {
    text-align: right !important;
    justify-content: flex-end !important;
}

.toggle-container {
    text-align: right;
    padding: 10px;
}

.toggle-group {
    font-size: 16px;
}
